.cardContainer {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

.quiz-card {
   max-width: 30rem;
}

.question-footer {
   display: flex;
   justify-content: space-between;
   align-items: center;
   border-top: 1px solid rgba(0, 0, 0, 0.4);
   padding-top: 12px;
}

.quiz-answer-card:hover {
   cursor: pointer;
   background-color: rgba(0, 0, 0, 0.05);
}

.bg-success,
.bg-danger {
   color: white;
}

.trophy {
   width: 100%;
}

.button-row {
   display: flex;
   justify-content: center;
   margin-top: 20px;
}
